body {
    font-family: 'Poppins', sans-serif;
}

.bg-img {
    background-image: url(images/donation5.jpg);
    height: 640px;
    background-size: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);

}

.bg-text {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.4);


}

.bg-text h1 {
    padding: 10px;
    margin: 0 auto;

}


.main-heading-1 {
    font-size: 60px;
    font-weight: bold;
}

.first-heading {
    text-align: center;
    color: white;
    margin: 0 auto;
    width: 50%;
    padding: 20px;

}

.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(brown, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;

}

.second-heading {
    text-align: center;
    margin-bottom: 70px;
    margin: 0 auto;
    width: 50%;
}

.money-part {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 80%;

    margin-bottom: 40px;
    color: rgba(0, 0, 0, 0.61);
    font-weight: bold;
    margin-left: 50px;
    margin-right: 50px;
}

.style-money-box {
    background-color: rgba(128, 128, 128, 0.103);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

#style-money-box-02 {
    color: rgba(255, 0, 0, 0.726);
    background-color: rgba(216, 112, 147, 0.226);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: 2px solid rgba(255, 0, 0, 0.726);
}

#other-amount {
    color: rgba(0, 0, 0, 0.479);
    text-align: center;
    width: 60%;
    margin: auto;
}

.second-section {
    margin-bottom: 100px;
}

.help-part {
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 100px;


}

.help-part-common {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

#help-part-01 {
    background-color: lightgreen;
}

#help-part-02 {
    background-color: lightpink;
}

#help-part-03 {
    background-color: lightskyblue;
}



.box-sizing {
    background-color: bisque;
    margin: 0 auto;
    height: 180px;
    width: 60%;
    margin-bottom: 50px;
}

.sizing {
    text-align: center;
    padding-top: 70px;
    font-size: 30px;
    box-sizing: border-box;
}

#email {
    border: none;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.411);
    border-radius: 5px;
}

#subscribe {
    border: none;
    padding: 20px;
    background-color: rgba(255, 0, 0, 0.699);
    color: white;
    border-radius: 5px;
}






#footer-part {
    background-color: black;
    text-align: center;
    color: white;
    margin: 0;
    padding: 30px;
}

.humble {
    color: tomato;
    font-family: 'Courier New', Courier, monospace;
}